.bg {
  background: black no-repeat center center fixed;
  background-size: cover;
}

.bg-carro {
  background-image: url("img/bg-carro.jpg");
}

.bg-ponte {
  background-image: url("img/bg-ponte.jpg");
}

.bg-outro1 {
  background-image: url("img/bg-outro1.jpg");
}

.bg-porto1 {
  background-image: url("img/bg-porto1.jpg");
}

.bg-porto2 {
  background-image: url("img/bg-porto2.jpg");
}